h1 {
    color:rgb(70, 155, 228);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
    width: 280px
}



.subcjetContainer{
    display: grid;
    grid-template-columns: auto auto auto;
}

.subjectBox {
    border:2px solid darkslategray;
}
   
#middlebox {
    border:2px solid blue;
    color:blueviolet
}

.button{
    background-color: rgb(229, 45, 45);
    width: 65px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid black;
}




body {

    background-color: #333;

}






body {

    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

}



.topnav {

    overflow: hidden;

    background-color: #333;

}



.topnav a {

    float: left;

    color: #f2f2f2;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

    font-size: 17px;

}



.topnav a:hover {

    background-color: #ddd;

    color: black;

}



.topnav a.active {

    background-color: #04AA6D;

    color: white;

}




.dropdown {

float: left;

overflow: hidden;

}



.dropdown .dropbtn {

font-size: 16px;  

border: none;

outline: none;

color: white;

padding: 15px 16px;

background-color: inherit;

font-family: inherit;

margin: 0;

}



.topnav a:hover, .dropdown:hover .dropbtn {

background-color: #04AA6D;

}



.dropdown-content {

display: none;

position: absolute;

background-color: #f9f9f9;

min-width: 160px;

box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

z-index: 1;

}



.dropdown-content a {

float: none;

color: black;

padding: 12px 16px;

text-decoration: none;

display: block;

text-align: left;

}



.dropdown-content a:hover {

background-color: #ddd;

}



.dropdown:hover .dropdown-content {

display: block;

}


.information {

    color: white

}

