

.vissit img {
    width: 300px;
    height: auto;
 
}


.bokomslag img {
    width: 500px;
    height: auto;
}


.dtp img{
    width: 30%;
    height: auto;
}

.dtv video{
    height: auto;
    width: 60%;
}

.dtp, .dtv {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    margin-top: 20px; /* Adjust margin as needed */
}

.info p {
    position: relative;
    margin-top: 1%; /* Adjust margin as needed */
    padding-top: 1%;
}

