.spelebrikke img {
    width: 500px;
    height: auto;
    padding: 4px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

.image-container {
    position: relative;
    width: 30%; /* Adjust the width of the image container */
}

.gallery img {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 0;
    left: 0;
}

.gallery img.active {
    opacity: 1;
}

.next-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.next-button {
    margin-left: 37%; 
    margin-top: 14.5%;
    z-index: 999;
    position: relative;
}